body {
    background-color: #171717;
    font-family: "Roboto Flex", sans-serif;
    font-size: 25px;
    justify-self: center;
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.navbar li {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.navbar a.active {
    border-bottom: 2px solid #D4AF37;
}